<div id="toolbar">
  <a id = "home" routerLink="">
    <mat-icon>home</mat-icon>
  </a>
  <h3>E-commer </h3>
  <p> &copy; </p>
  <h3> e</h3>

  <button class = "buttom-menu" mat-button [matMenuTriggerFor]="menu">Hardware</button>
  <mat-menu #menu="matMenu">
    <button mat-menu-item routerLink="/produtos/processador">Processadores</button>
    <button mat-menu-item routerLink="/produtos/placa_mae">Placa mãe</button>
    <button mat-menu-item routerLink="/produtos">Todos</button>
  </mat-menu>
  <div id="entrar">
    <button mat-button id="cartBottom" routerLink="/cart">
      <span class="material-icons" id="CartIcon">
        shopping_cart
      </span>
    </button>
    <button mat-button id="entrarUser" [routerLink] = "rota" >Entrar</button>
  </div>
</div>
<div id="content"> 
  <router-outlet > </router-outlet>  
</div>


